:root{
    /* * palette */
    --header-footer-bg: #2c3e50;
    --odd-section-bg: #1abc9c;
    --pre-footer-bg: #3a546d;
}

/* generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* ! HEADER */
#header{
    line-height: 70px;
    background-color: var(--header-footer-bg);
    color: white;
    font-weight: bold;
}

/* ! MAIN */
#main section:nth-last-of-type(even){
    background-color: #1abc9c;
}

/* ? hero */
#hero{
    color: white;
}

h1{
    font-weight: bold;
}

#hero .line{
    background-color: white;
    height: 5px;
    width: 15%;
}

#main .card{
    /* debug */
    background-color: cadetblue;
    min-height: 200px;
}

/* ? contact me */
#contact-me .col-10 .card{
    /* debug */
    min-height: 100px;
}

#contact-me .col-10:nth-of-type(4) .card{
    /* debug */
    min-height: 250px;
}
 
/* ! footer */

/* ? footer-info */
#footer .footer_info{
    background-color: var(--pre-footer-bg);
}

.footer_info .card{
    /* debug */
    background-color:chocolate;
    height: 200px;
}

/* ? footer-copyright */
#footer .footer_copyright{
    background-color: var(--header-footer-bg);
    color: white;
}