:root{
    /* * palette */
    --header-footer-bg: #2c3e50;
    --odd-section-bg: #1abc9c;
    --pre-footer-bg: #3a546d;
}


/* ! HEADER */
#header{
    min-height: 80px;
    background-color: var(--header-footer-bg);
}

#header> .container> *{
    background-color: aquamarine;
}

/* ! MAIN */
#main section:nth-last-of-type(even){
    background-color: #1abc9c;
}

#main .container{
    /* debug */
    background-color: burlywood;
    min-height: 400px;
}

#main .card{
    /* debug */
    background-color: cadetblue;
    min-height: 200px;
}

/* ? contact me */
#contact-me .col-10 .card{
    height: 50px;
}

#contact-me .col-10:nth-of-type(4) .card{
    height: 300px;
}
 
