:root{
    /* * palette */
    --header-footer-bg: #2c3e50;
    --odd-section-bg: #1abc9c;
    --pre-footer-bg: #3a546d;
}

/* ! HEADER */
#header{
    min-height: 80px;
    background-color: var(--header-footer-bg);
}

#header> .container> *{
    background-color: aquamarine;
}

/* ! MAIN */
#main section:nth-last-of-type(even){
    background-color: #1abc9c;
}

/* ? hero */
#hero .container{
    background-color: burlywood;
    min-height: 400px;
}