:root{
    /* * palette */
    --header-footer-bg: #2c3e50;
    --odd-section-bg: #1abc9c;
    --pre-footer-bg: #3a546d;
}

/* generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* ! HEADER */
#header{
    line-height: 70px;
    background-color: var(--header-footer-bg);
    color: white;
    font-weight: bold;
}

/* ! MAIN */
#main section:nth-last-of-type(even){
    background-color: #1abc9c;
    color: white;
}

#main section:nth-last-of-type(odd){
    color: #2c3e50;
}

#main .line{
    background-color: currentColor;
    height: 5px;
    width: 15%;
}


/* ? ABOUT */
#about .btn-secondary{
    background-color: transparent;
}

/* ? contact me */
#contact-me .col-10 ::placeholder{
    color: #2c3e50;
}


/* ! footer */

/* ? footer-info */
#footer .footer_info{
    background-color: var(--pre-footer-bg);
}

.footer_info .card{
    /* debug */
    background-color:chocolate;
    height: 200px;
}

/* ? footer-copyright */
#footer .footer_copyright{
    background-color: var(--header-footer-bg);
    color: white;
}